/* CSS file */
@namespace "library://ns.adobe.com/flex/spark";
@namespace ns "http://flex.apache.org/experimental/ns";
@namespace ns1 "spark.components.supportClasses.*";

/*Roboto Fonts*/
@font-face {
	src: url("/spark/skins/android5/assets/fonts/Roboto-Regular.ttf");
	fontFamily: RobotoRegular;
	embed-as-cff: false;
}

@font-face {
	src: url("/spark/skins/android5/assets/fonts/Roboto-Bold.ttf");
	fontFamily: RobotoBold;
	fontWeight: bold;
	embed-as-cff: false;
}

global
{
	fontFamily: RobotoRegular;
	fontSize: 24;
	color: #000000;

	
}
ActionBar
{
	chromeColor: #009688;
	skinClass: ClassReference("spark.skins.android5.ActionBarSkin");
	paddingBottom: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 0;
	dropshadowVisible: true;
}

ActionBar #titleDisplay
{
	color: #FFFFFF;
	fontSize: 24;
	fontFamily: RobotoBold;
}

ActionBar ButtonBase
{
	color: #333333;
	fontFamily: RobotoBold;
	fontWeight: bold;
}

ActionBar Group#actionGroup Button
{
	skinClass: ClassReference("spark.skins.android5.TransparentActionButtonSkin");
	chromeColor: #009688;
	downColor: #b9b8b8;
	downAlpha: 0.7;
	color: #FFFFFF;
}

ActionBar Group#navigationGroup Button
{
	skinClass: ClassReference("spark.skins.android5.TransparentNavigationButtonSkin");
	chromeColor: #009688;
	downColor: #b9b8b8;
	downAlpha: 0.7;
	color: #FFFFFF;
}

Button
{
	fontFamily: RobotoBold;
	fontWeight: "bold";
	contentBackgroundBorder: "raised";
	skinClass: ClassReference("spark.skins.android5.ButtonSkin");
	chromeColor: #009688;
	downColor: #b9b8b8;
	downAlpha: 0.7;
}

Button.flat
{
	fontFamily: RobotoBold;
	fontWeight: "bold";
	contentBackgroundBorder: "flat";
	skinClass: ClassReference("spark.skins.android5.ButtonSkin");
	chromeColor: #009688;
	downColor: #b9b8b8;
	downAlpha: 0.7;
}

Button.circle
{
	fontFamily: RobotoBold;
	fontWeight: "bold";
	skinClass: ClassReference("spark.skins.android5.ButtonCircleSkin");
	chromeColor: #009688;
	downColor: #b9b8b8;
	downAlpha: 0.7;
}

ButtonBar
{
	skinClass: ClassReference("spark.skins.android5.ButtonBarSkin");
	color: #007AFF; /*font color*/
	fontFamily: RobotoRegular;
	fontWeight: normal;
	chromeColor: #009688;
	downColor: #b9b8b8;
	selectColor: #b9b8b8;
	backgroundAlpha: 1;
}

Callout
{
	backgroundColor: #33B5E5;
	contentBackgroundColor: #FFFFFF;
	gap: 12;
	skinClass: ClassReference("spark.skins.android5.CalloutSkin");
}

CheckBox
{
	skinClass: ClassReference("spark.skins.android5.CheckBoxSkin");
	chromeColor: #FFFFFF;
}

RadioButton
{
	skinClass: ClassReference("spark.skins.android5.RadioButtonSkin");
	backgroundAlpha: 0; /*background alpha*/
	chromeColor: #000000; /*background color*/
	selectColor: #009688; 
	unselectColor: #6D6D6D;
}

ToggleSwitch
{
	skinClass: ClassReference("spark.skins.android5.ToggleSwitchSkin");
	thumbColor: #FFFFFF; /*color of the thumb in the left unselected position*/
	thumbColorSelected: #009688; /*color of the thumb in the right selected position*/
	trackColor: #b9b8b8;
	trackColorSelected: #77c2bb;	
	slideDuration: 125;
}

HSlider
{
	skinClass: ClassReference("spark.skins.android5.HSliderSkin");		
	symbolColor: #009688; /*color of the center circle*/
	selectionColor:#000000; /*color of the larger semi-transparent circle when selected*/
	trackColor:#b0b0b0; /*color track*/
	trackselectionColor: #009688; /*color track when dragged*/
	datatipColor: #009688; /*color datatip background when dragged*/
}

TabbedViewNavigator #tabBar
{
	fontFamily: RobotoRegular;
	color: #FFFFFF;
	fontSize: 12;
	fontWeight: normal;
	iconPlacement: top;
	interactionMode: touch;
	skinClass: ClassReference("spark.skins.android5.TabbedViewNavigatorTabBarSkin");
	chromeColor: #009688; /*green*/
	downColor: #b9b8b8; /*grey*/
	selectColor: #b9b8b8; /*grey*/
}

TabbedViewNavigator 
{
	skinClass: ClassReference("spark.skins.android5.TabbedViewNavigatorSkin");
	tabLocation: bottom;
}

TextInput
{
	skinClass: ClassReference("spark.skins.android5.StageTextInputSkin");
	contentBackgroundAlpha: 0;
	focusColor: #009688;
	borderColor: #4e4e4e;
	contentBackgroundColor: #DEDEDD;
	contentBackgroundBorder: "flat";
	fontFamily: RobotoRegular;
	selectionHighlighting: "never";
	focusEnabled:"false";
	focusThickness: 0;
}

TextArea
{
	skinClass: ClassReference("spark.skins.android5.StageTextAreaSkin");
	contentBackgroundAlpha: 0;
	contentBackgroundBorder: "flat";
	contentBackgroundColor: #DEDEDD;
	focusColor: #009688;
	borderColor: #4e4e4e;
	selectionHighlighting: "never";
	focusEnabled:"false";
	focusThickness: 0;
}

HScrollBar
{
	skinClass: ClassReference("spark.skins.android5.HScrollBarSkin");
	thumbColor: #009688;
	thumbAlpha: .8;
}

VScrollBar
{
	skinClass: ClassReference("spark.skins.android5.HScrollBarSkin");
	thumbColor: #009688;
	thumbAlpha: .8;
}

ns|MobileGrid
{
	skinClass: ClassReference('spark.skins.android5.MobileGridSkin');
	color: white;
	selectionColor: #F5F5F5;
	
}

ns1|MobileGridHeader
{	
	textShadowAlpha: 0;
	color: #929292;
	chromeColor: #FFFFFF;
	skinClass: ClassReference('spark.skins.android5.MobileGridHeaderButtonBarSkin');
	fontWeight: bold;
	borderColor: #929292;
}

ns1|MobileGridRowRenderer
{
	verticalAlign: "middle";
	downColor: #EEEEEE;
	selectionColor: #F5F5F5;
	useOpaqueBackground: "false";
}

@media (application-dpi: 120)
{
	global
	{
		fontSize: 12;
	
	}
	
	ActionBar #titleDisplay
	{
		fontSize: 14;
	}
}

@media (application-dpi: 160)
{
	global
	{
		fontSize: 16;	
	}
	
	ActionBar #titleDisplay
	{
		fontSize: 18;
	}
}

@media (application-dpi: 240)
{
	global
	{
		fontSize: 20;
	}
	
	ActionBar #titleDisplay
	{
		fontSize: 24;
	}
}

@media (application-dpi: 320)
{
	global
	{
		fontSize: 32;
	}
	
	ActionBar #titleDisplay
	{
		fontSize: 36;
	}
}

@media (application-dpi: 480)
{
	global
	{
		fontSize: 48;
		
	}
	
	ActionBar #titleDisplay
	{
		fontSize: 54;
	}
}

@media (application-dpi: 640)
{
	global
	{
		fontSize: 64;
	}

	ActionBar #titleDisplay
	{
		fontSize: 72;
	}
}
